* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.first-hero-section {
    background: url(../images/4matic.webp) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}