* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.package .container {
    background-color: #232a33;
    color: white;
}

.testimony img {
    border-radius: 50%;
}