* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
 
body,html {
    font-family: sans-serif;
    overflow-x: hidden !important;
} 

#package .container {
    background-color: #232a33;
    color: white;
}

#testimony img {
    border-radius: 50%;
}
